/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between ;
	align-items:center;
}
.image{
	width:400px;
	height:100px;
	object-fit:cover;
	
}
.button{
	padding:20px;
	background-color:red;
	color:white;
	border-radius:20px;
	
}